* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.max-width-wrapper {
  padding: 48px 0;
  min-height: 50%;
}

header > .max-width-wrapper, .card {
  background-color: hsl(0, 0%, 100%);
  border-bottom: solid 6px hsl(0, 0%, 40%);
}

main > .max-width-wrapper {
  background-color: hsl(0, 0%, 60%);
}

.intro-chunk, .card {
  margin: 0 auto;
  padding: 8px 16px;
  max-width: 550px;
}

.title {
  margin-bottom: 32px;
}

.intro-chunk > p {
  max-width: 300px;
}

.intro-chunk strong {
  color: hsl(160, 100%, 30%);
}

.indented-heading {
  margin-top: 0;
  width: fit-content;
  padding: 16px 16px 16px 32px;
  background-color: hsl(45, 100%, 50%);
  border-bottom: solid 6px hsl(45, 100%, 40%);
  margin-left: -32px;
}